absl-py==0.10.0
aiohttp==3.7.3
alabaster==0.7.12
albumentations==0.5.2
anaconda-client==1.7.2
anaconda-navigator==1.9.7
anaconda-project==0.8.3
anndata==0.7.3
ansi2html==1.6.0
anyio==2.0.2
appdirs==1.4.4
asgiref==3.3.1
asn1crypto==1.0.1
astor==0.8.1
astroid==2.3.1
astropy==3.2.2
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.2.0
babel==2.7.0
backcall==0.1.0
backports.functools-lru-cache==1.6.1
backports.os==0.1.1
backports.shutil-get-terminal-size==1.0.0
backports.tempfile==1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.0
bitarray==1.0.1
bkcharts==0.2
bleach==3.1.0
blis==0.7.4
bokeh==1.3.4
boto3==1.16.18
boto==2.49.0
botocore==1.19.18
bottleneck==1.2.1
brotli==1.0.9
cachetools==4.2.1
catalogue==2.0.1
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.2.2
clyent==1.2.2
colorama==0.4.1
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
conda==4.8.3
configparser==5.0.1
contextlib2==0.6.0
continuum==1.0.12
cryptography==2.7
cvxopt==1.2.6
cvxpy==1.1.11
cycler==0.10.0
cymem==2.0.5
cython==0.29.13
cytoolz==0.10.0
dash-core-components==1.14.1
dash-daq==0.5.0
dash-html-components==1.1.1
dash-renderer==1.8.3
dash-table==4.11.1
dash==1.18.1
dask==2.5.2
dataclasses==0.6
decorator==4.4.0
defusedxml==0.6.0
distlib==0.3.1
distributed==2.5.2
django-bootstrap4==2.3.1
django-plotly-dash==1.5.0
django==3.1.5
docker-pycreds==0.4.0
docutils==0.15.2
dominate==2.6.0
dpd-components==0.1.0
dpd-static-support==0.0.5
ecos==2.0.7.post1
efficientnet-pytorch==0.6.3
efficientnet==1.0.0
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
filelock==3.0.12
flask-compress==1.8.0
flask==1.1.1
fsspec==0.5.2
future==0.18.2
gast==0.2.2
get-version==2.1
gevent==1.4.0
gitdb==4.0.5
gitpython==3.1.13
glmnet-py==0.1.0b2
glob2==0.7
gmpy2==2.0.8
google-auth-oauthlib==0.4.2
google-auth==1.25.0
google-pasta==0.2.0
graphviz==0.16
greenlet==0.4.15
grpcio==1.31.0
h5py==2.10.0
heapdict==1.0.1
html5lib==1.0.1
idna==2.7
image-classifiers==1.0.0
imageio==2.4.1
imagesize==1.1.0
imgaug==0.4.0
importlib-metadata==3.10.0
ipykernel==5.1.2
ipython-genutils==0.2.0
ipython==7.8.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
jeepney==0.4.1
jinja2==2.10.3
jmespath==0.10.0
joblib==0.13.2
json5==0.8.5
jsonpatch==1.28
jsonpointer==2.0
jsonschema==3.0.2
jupyter-client==5.3.3
jupyter-console==6.0.0
jupyter-core==4.5.0
jupyter-dash==0.3.1
jupyter-plotly-dash==0.4.3
jupyter-server-proxy==1.5.3
jupyter-server==1.2.1
jupyter==1.0.0
jupyterlab-dash==0.1.0a3
jupyterlab-server==2.1.2
jupyterlab==3.0.4
keras-applications==1.0.7
keras-models==0.0.7
keras-preprocessing==1.0.1
keras-resnet==0.2.0
keras==2.2.0
keyring==18.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.2
legacy-api-wrap==1.2
leidenalg==0.8.0
libarchive-c==2.8
libtiff==0.4.2
lief==0.9.0
lightgbm==3.0.0
llvmlite==0.29.0
locket==0.2.0
louvain==0.7.0
lshash3==0.0.8
lxml==4.2.6
mahotas==1.4.11
markdown==3.2.2
markupsafe==1.1.1
matplotlib==3.2.2
mccabe==0.6.1
mistune==0.8.4
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
mpmath==1.1.0
msgpack==0.6.1
multidict==5.1.0
multipledispatch==0.6.0
munch==2.5.0
murmurhash==1.0.5
natsort==7.0.1
navigator-updater==0.2.1
nbclassic==0.2.6
nbconvert==5.6.0
nbformat==4.4.0
nbserverproxy==0.8.8
networkx==2.3
nltk==3.4.5
nose==1.3.7
notebook==6.0.1
numba==0.45.1
numexpr==2.7.0
numpy==1.20.1
numpydoc==0.9.1
oauthlib==3.1.0
olefile==0.46
opencv-contrib-python==3.4.2.17
opencv-python-headless==4.5.1.48
opencv-python==4.5.1.48
openpyxl==3.0.0
openslide-python==1.1.1
opt-einsum==3.3.0
osqp==0.6.2.post0
packaging==20.9
pandas==0.25.1
pandocfilters==1.4.2
parso==0.5.1
partd==1.0.0
path.py==12.0.1
pathlib2==2.3.5
pathlib==1.0.1
pathtools==0.1.2
pathy==0.4.0
patsy==0.5.1
pbr==5.5.1
pep8==1.7.1
pexpect==4.7.0
phenograph==1.5.6
pickleshare==0.7.5
pillow==6.2.0
pip==19.2.3
pkginfo==1.5.0.1
plotly==4.14.2
pluggy==0.13.0
ply==3.11
preshed==3.0.5
pretrainedmodels==0.7.4
progressbar2==3.38.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.13.0
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pybind11==2.6.2
pycocotools==2.0.2
pycodestyle==2.5.0
pycosat==0.6.3
pycparser==2.19
pycrypto==2.6.1
pycurl==7.43.0.3
pydantic==1.7.3
pyflakes==2.1.1
pygments==2.4.2
pylint==2.4.2
pyodbc==4.0.27
pyopenssl==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
pysocks==1.7.1
pytest-arraydiff==0.3
pytest-astropy==0.5.0
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.2
pytest==5.2.1
python-bioformats==4.0.0
python-dateutil==2.8.0
python-igraph==0.8.2
python-javabridge==4.0.0
python-utils==2.5.6
pytz==2019.3
pywavelets==1.1.1
pyyaml==5.4.1
pyzmq==18.1.0
qdldl==0.1.5.post0
qtawesome==0.6.0
qtconsole==4.5.5
qtpy==1.9.0
requests-oauthlib==1.3.0
requests==2.25.1
retrying==1.3.3
rope==0.14.0
rpm==0.0.2
rsa==4.7
ruamel-yaml==0.15.46
s3transfer==0.3.3
scanpy==1.5.0
scikit-image==0.16.1
scikit-learn==0.23.2
scikit-survival==0.14.0
scipy==1.4.1
scs==2.1.2
seaborn==0.11.0
secretstorage==3.1.1
segmentation-models-pytorch==0.1.3
segmentation-models==1.0.1
send2trash==1.5.0
sentry-sdk==0.20.2
setuptools-scm==3.5.0
setuptools==41.4.0
shapely==1.7.1
shortuuid==1.0.1
simpervisor==0.4
simplecv==1.3
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.15.0
smart-open==3.0.0
smmap==3.0.5
sniffio==1.2.0
snowballstemmer==2.0.0
sortedcollections==1.1.2
sortedcontainers==2.1.0
soupsieve==1.9.3
spacy-legacy==3.0.1
spacy==3.0.3
sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
sphinxcontrib-websupport==1.1.2
spyder-kernels==0.5.2
spyder==3.3.6
sqlalchemy==1.3.9
sqlparse==0.4.1
srsly==2.4.0
statsmodels==0.10.1
stevedore==3.3.0
subprocess32==3.5.4
sympy==1.4
tables==3.5.2
tbb==2020.0.133
tblib==1.4.0
tensorboard-plugin-wit==1.8.0
tensorboard==2.2.0
tensorboardx==2.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.13.1
tensorflow==1.13.1
tensorlayer==1.11.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
texttable==1.6.2
thinc==8.0.1
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2020.10.1
timm==0.3.2
toolz==0.10.0
torch==1.7.0
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.8.1
torchviz==0.0.1
tornado==6.1
tqdm==4.41.0
traitlets==4.3.3
typer==0.3.2
typing-extensions==3.7.4.3
umap-learn==0.4.3
unicodecsv==0.14.1
urllib3==1.24.3
virtualenv-clone==0.5.4
virtualenv==20.4.3
virtualenvwrapper==4.8.4
visdom==0.1.8.9
wandb==0.10.19
wasabi==0.8.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.57.0
werkzeug==0.16.0
wheel==0.33.6
widgetsnbextension==3.5.1
wrapt==1.10.11
wurlitzer==1.0.3
xgboost==1.0.2
xlrd==1.2.0
xlsxwriter==1.2.1
xlwt==1.3.0
yarl==1.6.3
zict==1.0.0
zipp==0.6.0